.formItem {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
}

.error {
  color: #e3342f;
}

.formDescription {
  font-size: 0.875rem;
  color: rgb(var(--foreground-secondary-rgb));
}

.formMessage {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #e3342f;
}
