.selectTrigger {
  font-size: clamp(1rem, 3vw, 1.25rem);
  cursor: pointer;
  position: absolute;
  left: -2.5rem;
  top: 0.3em;
  width: 2em;
  height: 2em;
  padding: 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;

  svg {
    color: rgb(var(--foreground-rgb));
  }

  &:hover {
    opacity: 1;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &[data-state='open'] {
    opacity: 1;
  }

  svg:last-child {
    display: none;
  }
}

.item {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
